<h1><%= @list.title %></h1>

<h2>Your tasks</h2>
<%= text_field_tag :search_term %>
<%= submit_tag "Filter", id: "filter" %>
<button id="reset">Reset</button><br>
<a href="#"id="sort-titles">Sort by Titles</a> |
<a href="#"id="sort-descriptions">Sort by Descriptions</a>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Due Date</th>
      <th>link to update</th>
      <th>link to update</th>
      <th>click to complete</th>
    </tr>
  </thead>
  <tbody>

    <% @list.tasks.not_completed.each do |task| %>
      <tr id="<%= task.id %>" class="task">
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to "Update Task", edit_task_path(task) %></td>
        <td><button class="complete-task">Mark as Completed</button></td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= link_to "Edit your List", edit_list_path(@list) %>
<%= link_to "Create new Task", new_task_path(@list) %>


