<h1><%= @list.title %></h1>

<h2>Your tasks</h2>
<%= text_field_tag :search_term %>
<%= submit_tag "Filter", id: "filter" %>
<button id="reset">Reset</button><br>
<a href="#"id="sort-titles">Sort by Titles</a> |
<a href="#"id="sort-descriptions">Sort by Descriptions</a>
<div class="tasks">
  <ul>
    <% @list.tasks.not_completed.each do |task| %>
      <li id="<%= task.id %>" class="task" data-title="<%= task.title%>"
        data-description="<%= task.description %>">
       Title: <%= task.title %><br>
        Description: <%= task.description %><br>
       Completed Status: <%= task.status %><br>
       Due Date: <%= task.due_date %><br>
       <%= link_to "Update Task", edit_task_path(task) %><br>
       <button class="complete-task">Mark as Completed</button><hr>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Edit your List", edit_list_path(@list) %>
<%= link_to "Create new Task", new_task_path(@list) %>


