<h1><%= @list.title %></h1>

<div class="tasks">
  <ul>
    <% @list.tasks.where(status: false).each do |task| %>
      <li>
       Title: <%= task.title %><br>
        Description: <%= task.description %><br>
       Completed Status: <%= task.status %><br>
       <%= link_to "Update Task", edit_task_path(task) %><hr>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "Edit your List", edit_list_path(@list) %>
<%= link_to "Create new Task", new_task_path(@list) %>


