<h1>Add a new Task</h1>
<%= form_for (@task), html: {multipart: true} do |f| %>

  <%= f.text_field :title, placeholder: "Title", required: true %>
  <%= f.text_field :description, placeholder: "Description", required: true %><br>
  <%= f.hidden_field :list_id, value: @task.list_id %><br>
  Due Date: <%= f.date_select :due_date %><br>
  Upload Picture: <%= f.file_field :avatar %>

  <%= f.submit "Submit" %>
<% end %>
